.modal-audio {
	&__background {
		@include modaleBackground;
	}
	&__box {
		@include modaleBox(80%);
	}
	&__portraits {
		display: flex;
		gap: 2rem;
	}
	&__buttons {
		display: flex;
	}
}

.modal-audio__portrait-container {
	max-width: 5rem;
	max-height: 5rem;
	border-radius: 50%;
	border: solid 2px $secondary-color;
	overflow: hidden;
}

.modal-audio__portrait {
	// @include img-max;
	width: 100%;
	object-fit: cover;
}

.modal-audio__waveform-container {
	width: 100%;
	height: 100%;
}
