.progressBar {
	display: flex;
	flex-wrap: nowrap;

	&__box {
		display: flex;
		align-items: end;
		&__steps {
			flex: none;
		}
		&__icons {
			display: flex;
			flex-wrap: nowrap;
			padding: 0.4rem 0;
		}
	}
}

.progressBar__box__icon {
	&--small {
		padding: 0 0.2rem;
	}
	&--main {
		padding:0 0.5rem;
	}
}

.progressBar__box__title {
	color: $tertiary-color;
	font-family: "Gabriele";
	
	&--played {
		font-family: "Gabriele";
		color: $secondary-color;
	}
}
