#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	min-height: 100vh;
	text-align: center;
	font-family: "Din", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: $secondary-color;
	background-color: black;
	background-image: url("./../assets/img/DB-griffures-Grises.png");
	background-size: cover;
	background-repeat: no-repeat;
}

main {
	display: flex;
	justify-content: center;
}
