//pour centrer un élément enfant parfaitement dans le parent flex
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// pour que se place de manière optimale (au max) dans sa div parent
@mixin img-max {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

//fonction pour simplement nommer le device concerné pour le responsive
@mixin responsive($device) {
	@media screen and (min-width: map-get($breakpoints, $device)) {
		@content;
	}
}
