.scenarios {
	&__title {
		padding: 1.5rem 0;
		font-size: 1.5rem;
		font-family: "Gabriele";
	}
	&__choice {
		gap: 2rem;
		padding-top: 2rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

.scenario {
	position: relative;
	height: 20vh;
	border: 2px solid $secondary-color;
	cursor: pointer;
	transition: all 300ms ease-in-out;
	&__poster {
		@include img-max;
		&__container {
			height: 100%;
		}
	}
	&__title {
		font-size: 3rem;
		font-family: "Fixture";
		color: $secondary-color;
		transition: color 300ms ease-in-out;
		&__container {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			transition: background-color 300ms ease-in-out;
		}
	}
}

.scenario {
	&:hover {
		border: 2px solid $tertiary-color;
		height: 15rem;
	}
	&:hover .scenario__title__container {
		background-color: transparent;
	}
	&:hover .scenario__title {
		color: $tertiary-color;
	}
}

@include responsive(laptop) {
	.scenarios__title {
		font-size: 2rem;
		padding: 2rem 0;
	}
	.scenario__title {
		font-size: 5em;
	}
}
